body {
  font-family: 'Pacifico', 'cursive', 'sans-serif';
  background-color: #fbf5f3;
  color: #2e2f2f;
}

.game-board {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
  font: 'Pacifico';
}

h1.title {
  text-align: center;
  font-size: 45px;
}

.game-page {
  display: flex;
  flex-direction: column;
}