body {
  font-family: 'Special Elite', 'cursive', 'sans-serif';
  background-image: url('./images/typewriter.jpg');
  background-position: center;
  background-size: cover;
  /* background-color: #fbf5f3; */
  color: #2e2f2f;
}

.game-board {
  border: 1px solid black;
  margin: 0 auto;
  display: flex;
}

h1.title {
  text-align: center;
  font-size: 45px;
}

.game-page {
  display: flex;
  flex-direction: column;
}